<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cemig</title>
</head>
<body>
    <h1>Cemig</h1>
    <button id="btnANEELEnergisa" style="background-color: greenyellow;">ANEEL</button>
    <button id="btnMemorialCemig" style="background-color: red;">MEMORIAL DESCRITIVO</button>
    <button id="btnFormularioSolicitacaoAcessoCemig" style="background-color: red;">FORMULÁRIO DE SOLICITAÇÃO DE ACESSO</button>
    <button id="btnDUBCemig" style="background-color: red;">DIAGRAMA UNIFILAR BÁSICO</button>
    <button id="btnFormularioAumentoCarga" style="background-color: red;">FORMULÁRIO DE AUMENTO DE CARGA</button>
    <button id="btnObsDisjuntor" style="background-color: red;">OBSERVAÇÃO SOBRE O DISJUNTOR</button>
    <button id="btnProcCemig" style="background-color: red;">PROCURAÇÃO</button>
    <button onclick="window.location.href='../concessionarias.html'">Voltar</button>
    <div id="scriptOutput"></div>
    <script src="../../public/js/renderers/energisaRenderer.js"></script>
</body>
</html>