<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPFL</title>
</head>
<body>
    <h1>CPFL</h1>
    <button id="btnAnexoE" style="background-color: red;">ANEXO E</button>
    <button id="btnAnexoF" style="background-color: red;">ANEXO F</button>
    <button id="btnAnexoG2" style="background-color: red;">ANEXO G2</button>
    <button id="btnDUBCPFL" style="background-color: red;">DIAGRAMA UNIFILAR BÁSICO</button>
    <button id="btnProcCPFL" style="background-color: red;">PROCURAÇÃO</button>
    <button onclick="window.location.href='../concessionarias.html'">Voltar</button>
    <div id="scriptOutput"></div>
    <script src="../../public/js/renderers/energisaRenderer.js"></script>
</body>
</html>