<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energisa</title>
</head>
<body>
    <h1>Energisa</h1>
    <button id="btnANEELEnergisa" style="background-color: greenyellow;">ANEEL</button>
    <button id="btnMemorialEnergisa" style="background-color: red;">MEMORIAL DESCRITIVO</button>
    <button id="btnDUBEnergisa" style="background-color: red;">DIAGRAMA UNIFILAR BÁSICO</button>
    <button id="btnProcEnergisa" style="background-color: red;">PROCURAÇÃO</button>
    <button onclick="window.location.href='../concessionarias.html'">Voltar</button>
    <div id="scriptOutput"></div>
    <script src="../../public/js/renderers/energisaRenderer.js"></script>
</body>
</html>