<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQUATORIAL</title>
</head>
<body>
    <h1>Equatorial</h1>
    <button id="btnAba0" style="background-color: red;">ABA 0</button>
    <button id="btnFormularioSolicitacaoAcessoEquatorial" style="background-color: red;">ANEXO F</button>
    <button id="btnAnexoG2" style="background-color: red;">FORMULÁRIO DE SOLICITAÇÃO DE ACESSO</button>
    <button id="btnMemorialEquatorial" style="background-color: red;">MEMORIAL DESCRITIVO</button>
    <button id="btnDUBEqutorial" style="background-color: red;">DIAGRAMA UNIFILAR BÁSICO</button>
    <button id="btnProcEquatorial" style="background-color: red;">PROCURAÇÃO</button>
    <button onclick="window.location.href='../concessionarias.html'">Voltar</button>
    <div id="scriptOutput"></div>
    <script src="../../public/js/renderers/energisaRenderer.js"></script>
</body>
</html>