<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Concessionárias</title>
</head>
<body>
    <h1>CONCESSIONÁRIAS</h1>
    <button id="btnEnergisa" style="background-color: greenyellow;">ENERGISA</button>
    <button id="btnCPFL" style="background-color: red;">CPFL</button>
    <button id="btnCEMIG" style="background-color: red;">CEMIG</button>
    <button id="btnElektro" style="background-color: red;">ELEKTRO</button>
    <button id="btnEquatorial" style="background-color: red;">EQUATORIAL</button>
    <button id="btnCopel" style="background-color: red;">COPEL</button>
    <button id="btnRGE" style="background-color: red;">RGE</button>
    <button onclick="window.location.href='index.html'">Voltar</button>

    <script src="../public/js/renderers/concessionariaRenderer.js"></script>
</body>
</html>
